/* Create CSS-variables to :root */
@mixin css-vars($map) {
  @each $name, $value in $map {
    --#{"" + $name}: #{$value};
  }
}

/* Flex container for rows */
@mixin flex-row($align: center, $justify: flex-start) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

/* Flex container for columns */
@mixin flex-col($align: stretch, $justify: flex-start) {
    display: flex;
    flex-direction: column;
    align-items: $align;
    justify-content: $justify;
}

@mixin text($color: white, $fontsize: 16px) {
  color: $color;
  font-size: $fontsize;
  text-decoration: none;
}

@mixin buttons($color: white) {
  background-color: $color;
  height: 36px;
  border: none;
  border-radius: 4px;
  padding: 0 12px;
  cursor: pointer;
}