.profile-background {
    width: 350px;
    margin: 20px;
    border-radius: 8px;
    padding: 20px;
    background: #001A72;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    height: 150px;
    border-radius: 100px;
    padding: 5px;
    background: white;
    margin-bottom: 20px;
}

.profile-name {
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 50px;
}

.profile-info {
    width: 100%;
    text-align: left;
    font-size: 17px;
    color: white;
}

// Viivat tietojen alle
.profile-info p {
    border-bottom: 1px solid white;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.profile-info .label {
    font-weight: bold;
    margin-right: 15px; // tilaa label:n ja value:n väliin
}