$primary-color: #3D57AD;
$secondary-color: #001A72;
$background: #CCE0FE;
$white: white;
$black: #000000;
$red: #dc3545;
$green: #28a745;

$colors: (
    pcolor: $primary-color,
    scolor: $secondary-color,
    bg: $background,
    white: $white,
    black: $black,
    red: $red,
    green: $green
);